

.box{
    border: 1px solid black;
    width: 250px;
    height: 250px;
}

.small-box{
    border: 1px solid black;
    width: 40px;
    height: 40px;
    background-color: #fffffe;
}

.container{
    display: flex;
}

.sss{
    display: flex;
}

.under-box{
    width: 128px;
    height: 128px;
    background-color: blue;
}

.section-2{
    display: flex;
}